<nav class="user-nav">
  {{user_info}}
  {{submit_a_request}}
  {{my_activities}}
  {{language_selector}}
</nav>
<header class="header">
  <div class="header-inner">
    {{search_in_category}}
    <div class="logo">{{logo}}</div>
    <div class="motto">&nbsp;</div>
  </div>
</header>

