<section class="clearfix">
  <div class="clearfix">
    <h1 class="with-actions">{{help_center_name}}</h1>
    <span class="call-to-action">
      {{submit_a_request}}
      <a href="requests" role="button">View requests</a>
    </span>
  </div>
  <div class="knowledge-base">
    {{category_tree}}
    {{promoted_articles}}

  </div>
  <div class="community">
    {{community_header}}
    {{trending_questions}}
  </div>

</section>

